@import url('https://fonts.googleapis.com/css2?family=Roboto');

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.App,
#root {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
}

table {
  margin: auto;
}

td {
  background-color: rgb(223, 223, 223);
  width: 6rem;
  height: 3rem;
  padding: 0;
  font-weight: bold;
}

.result {
  background-color: gray;
  text-align: right;
  padding: 0 0.5rem;
  color: white;
  font-size: 1.5rem;
}

.operator {
  background-color: orange;
}

button {
  height: 100%;
  width: 100%;
  border: 0;
  cursor: pointer;
}

button:active {
  background-color: rgb(189, 189, 189);
}

.operator:active {
  background-color: rgb(224, 146, 0);
}

.header {
  display: flex;
  padding: 0 1rem;
  background-color: rgb(105 178 144);
  color: rgb(0, 0, 0);
}

.header h1 {
  flex-grow: 4;
  text-align: left;
}

.header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
  margin-right: 1rem;
  flex-grow: 3;
  height: 100%;
}

.header li {
  height: 100%;
  width: 100%;
}

.header li:hover {
  background-color: #59a281;
}

.header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.background {
  background-color: rgb(210 225 218);
  height: 100%;
}

.home {
  text-align: left;
  padding: 3rem;
}
